body { color:#000; }
.center-title h2 { font-size:35px }
.proposals .center-title p, .center-title p, .btn-yellow { color:#000; }
.proposals-style li .detail .date { color: #222; }
.schedule-style li .detail .time { color: #815d18; }

.overImg { padding:3em 5em }
  .overImg h2 { color:#fff }
  .overImg p { margin:1em 0 }

.welcome { margin-top:5em; padding:3em; }

table {
    background: #fff;
}
table th {
    -background: #f2b84b;
    -background: rgba(242,184,75,0.5);
    background: #fff;
    color: #333;
}
.name {
    text-transform: none;
}

[scope] {
    background-color: #f2b84b;
    color: #333;
}


#clock span, #clock p { color:#000 }
.count-down-1 { margin-bottom: 4em; }

iframe{ max-width: 100%; }
#sponsor-mobile-table,#other-sponsor-mobile-table{
    display: none;
}
.img-logo{
    max-width: 100%;
}

.sponsors-slider, .organizers-slider { list-style:none }

.sponsors-box  {
  display:block;
  height:160px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.sponsors-box img {
  position: relative;
  top: 50%;
  display:initial;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 768px) {
    .welcome{ padding: .5em 0; }
}
@media (max-width: 414px) {
    #sponsor-table,#other-sponsor-table{ display: none; }
    #sponsor-mobile-table,#other-sponsor-mobile-table{
        display: initial;
    }
    .welcome{ padding: .5em 0; }
    .overImg{ padding: 3em 1em;}
}
