body { color:#000; }
.center-title h2 { font-size:35px }
.proposals .center-title p, .center-title p, .btn-yellow { color:#000; }
.proposals-style li .detail .date { color: #222; }
.schedule-style li .detail .time { color: #815d18; }

.overImg { padding:3em 5em }
  .overImg h2 { color:#fff }
  .overImg p { margin:1em 0 }
